.footer {
  margin-bottom: 1rem;
  background: black;
  .footerLinks {
    .footerLinks--row1 h3 {
      color: rgb(111, 111, 226);
      font-size: 1rem;
      margin-top: 1rem;
    }
    .footerLinks--row1 span {
      display: grid;
      color: white;
      margin-top: 1rem;
      cursor: pointer;
    }
  }
  .footer--Social--Icons {
    background: lightcoral;
    padding-top: 4rem;
  }
}
